# Latex
*.pdf
*.log
*.fls
*.aux
*.fdb_latexmk
*.synctex.gz
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.dvi
*.ps
*.eps
*.cb
*.cb2
*.dpth
*.md5
*.auxlock
*.fls
build/

# python
__pycache__/
*.pyc
.env
.venv
.venv/

